# OS
.DS_Store
Thumbs.db
desktop.ini

# Editory
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# Prostredie a tajomstvá
.env
.env.*
!.env.example

# Závislosti a buildy
node_modules/
dist/
build/
__pycache__/
*.pyc
.venv/
venv/

# Logy
*.log
